@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src:
    url('/fonts/Geist-Medium.woff2') format('woff2'),
    url('/fonts/Geist-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src:
    url('/fonts/Geist-Regular.woff2') format('woff2'),
    url('/fonts/Geist-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist Variable';
  src: url('/fonts/GeistVariableVF.woff2') format('woff2-variations');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 150 8% 5%;

    --card: 180 7% 97%;
    --card-foreground: 150 8% 5%;

    --popover: 180 7% 97%;
    --popover-foreground: 150 8% 5%;

    --primary: 161 94% 30%;
    --primary-foreground: 0 0% 98%;

    --secondary: 158 21% 90%;
    --secondary-foreground: 150 8% 5%;

    --muted: 160 10% 94%;
    --muted-foreground: 161 8% 40%;

    --accent: 150 13% 90%;
    --accent-foreground: 150 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 160 17% 90%;
    --input: 162 22% 85%;
    --ring: 161 51% 70%;

    --radius: 1.25rem;
  }

  .dark {
    --background: 165 11% 7%;
    --foreground: 163 14% 90%;

    --card: 165 9% 9%;
    --card-foreground: 163 14% 90%;

    --popover: 165 9% 9%;
    --popover-foreground: 163 14% 90%;

    --primary: 161 94% 30%;
    --primary-foreground: 0 0% 98%;

    --secondary: 162 24% 16%;
    --secondary-foreground: 163 14% 90%;

    --muted: 162 18% 14%;
    --muted-foreground: 161 8% 60%;

    --accent: 159 19% 14%;
    --accent-foreground: 163 14% 90%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 160 10% 17%;
    --input: 162 10% 25%;
    --ring: 162 50% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer components {
  @media (min-width: 950px) {
    .container {
      max-width: 950px;
    }
  }
}
