---
import Page from '@/layouts/page.astro'
import meUrl from '@/assets/me-full.jpg'
import ImageWithBlurhash from '@/components/image-with-blurhash.astro'
---

<Page title="About Me" description="Howdy, I'm Luke :) Full Stack Developer">
  <main class="container py-12 md:py-24">
    <article class="prose dark:prose-invert lg:prose-xl">
      <header>
        <h1 class="text-4xl font-extrabold not-prose">Howdy, I'm Luke :)</h1>
      </header>

      <p class="">
        I'm a 21 year old software developer based in Cambridge, MA.
      </p>

      <ImageWithBlurhash
        src={meUrl}
        alt="Me at the Oslo Ski Jumping Facility"
        className="not-prose"
        decoding="sync"
      />

      <p class="text-muted-foreground">Me, in Oslo, Norway.</p>

      <h2>Beginnings</h2>

      <p>
        I was born and raised in Houston, Texas. I did some of my first
        programming at a Lego Robotics summer camp, and really got into it after
        figuring out I could write programs to automate my math homework in
        middle school (sorry Mrs. Johnson). Around the same time, I found my
        love for cycling, and have ridden both competitvely and for fun since.
      </p>

      <p>
        The first time I got paid to write code was in high school, when I got
        an internship at a Houston area start up. I worked there in the summer
        and after school. After graduating high school in 2020, my goal was to
        get as far away from Texas as I could, and I landed at Jacobs University
        (now <a href="https://constructor.university" target="_blank"
          >Constructor University</a
        >) in Bremen, Germany.
      </p>

      <p>
        The combination of moving to a foreign country by myself in the middle
        of a global pandemic, and wanting to build software, not sit in lectures
        led me to drop out after a semester and a half. Two weeks later I got a
        call from a guy who I had met in the library at university about a
        contracting oppurtunity, and I've been freelancing since.
      </p>

      <h2>Now</h2>

      <p>
        I live in Cambridge, MA with my partner, and freelance full time for
        coincidentally only German companies so far. My work reguarly brings me
        to Europe, and I enjoy traveling as much as I can while I'm there.
      </p>

      <p>
        In my freetime, I like trying the latest Javascript framework, or
        whatever else has piqued my interest. My preferred office is one of the
        many local coffee shops. If I'm not on my laptop, I'm probably out
        cycling.
      </p>

      <h2>Get in Touch</h2>

      <p>
        My preferred method of contact is email at <a
          href="mailto:luke@springsoftware.dev">luke@springsoftware.dev</a
        >. You can also find me at various Boston area meetups and conferences
        in the US.
      </p>
    </article>
  </main>
</Page>
