---
import { Image } from 'astro:assets'
import { getCollection, getEntryBySlug } from 'astro:content'
import Page from '@/layouts/page.astro'
import { Gallery } from '@/components/gallery'
import { buttonVariants } from '@/components/ui/button'
import meUrl from '@/assets/me.jpg'
import { getImageWithBlurhash } from '@/lib/images'
import ProjectCard from '@/components/project-card.astro'
import ImageWithBlurhash from '@/components/image-with-blurhash.astro'

const pics = await getCollection('pics')
const galleryItems = await Promise.all(
  pics.map(pic => getImageWithBlurhash(pic.data))
)

const projects = await Promise.all([
  getEntryBySlug('projects', 'full-stack-typescript'),
  getEntryBySlug('projects', 'rug-design-portal'),
])
---

<Page>
  <main class="container mx-auto">
    <section
      class="pt-24 pb-20 flex flex-col-reverse md:flex-row justify-between gap-2"
    >
      <div>
        <p class="rounded-full py-2 px-3 mb-3 border w-fit">
          <a
            href="https://www.google.com/maps/place/Cambridge,+MA"
            target="_blank"
            class="text-muted-foreground text-xs flex items-center"
          >
            <i data-lucide="globe" class="h-4 w-4 mr-1"></i><span
              class="hover:underline">Cambridge, MA, EST</span
            >
          </a>
        </p>

        <header>
          <h1
            class="text-3xl font-semibold leading-tight tracking-tight md:text-6xl"
          >
            Luke Rucker
          </h1>
        </header>

        <p class="mt-5 mb-2 text-base md:text-lg text-muted-foreground">
          Freelance dev building for the web. Typescript fanboy. Cyclist.
        </p>

        <footer class="mt-6 space-x-2">
          <a
            href="mailto:me@lukerucker.com"
            class={buttonVariants({ variant: 'default' })}
            >Say Hi <i data-lucide="mail" class="ml-2 h-5 w-5 inline"></i></a
          >

          <a href="/about" class={buttonVariants({ variant: 'outline' })}
            >Learn More <i data-lucide="arrow-right" class="ml-2 h-5 w-5 inline"
            ></i></a
          >
        </footer>
      </div>

      <ImageWithBlurhash
        src={meUrl}
        alt="Me, Luke Rucker."
        className="h-64 w-64"
      />
    </section>
  </main>

  <section class="mb-20">
    <header>
      <h2>
        <span class="sr-only">Gallery</span>
      </h2>

      <p class="sr-only">Some pictures I've taken. Shot on my iPhone 13 Pro.</p>

      <Gallery items={galleryItems} client:load />
    </header>
  </section>

  <section class="container mx-auto mb-20">
    <header class="mb-4">
      <h2 class="text-2xl font-semibold">What I do</h2>

      <p class="mt-3 text-muted-foreground">
        I currently work as a freelancer doing full stack web dev for different
        stages of teams and products. I particuarly enjoy the challenges of
        working with small teams, taking a product from idea to the world.
        Working on small teams has afforded me the chance to do a variety of
        roles; I've been the manager of the dev team, the tuner of database
        indexes, the pusher of pixels, and most things in between.
      </p>
    </header>

    <h3 class="text-xl font-semibold mb-7">Projects</h3>
    <ul class="space-y-6">
      {
        projects.map(project => (
          <li>
            <ProjectCard project={project} />
          </li>
        ))
      }
    </ul>

    <footer class="mt-7">
      <a href="/work" class="underline"> View All</a>
    </footer>
  </section>
</Page>
