---
import { getCollection, getEntryBySlug } from 'astro:content'
import Page from '@/layouts/page.astro'
import { Gallery } from '@/components/gallery'
import { buttonVariants } from '@/components/ui/button'
import { getImageWithBlurhash } from '@/lib/images'
import ProjectCard from '@/components/project-card-2.astro'
import {
  ArrowRightIcon,
  EnvelopeClosedIcon,
  GlobeIcon,
} from '@radix-ui/react-icons'

const pics = await getCollection('pics')
const galleryItems = await Promise.all(
  pics.map(pic => getImageWithBlurhash(pic.data))
)

const projects = await Promise.all([
  getEntryBySlug('projects', 'workspaces-for-creatives'),
  getEntryBySlug('projects', 'rug-design-portal'),
])
---

<Page>
  <main>
    <section class="container mx-auto py-12 md:py-20">
      <p class="rounded-full py-2 px-3 mb-6 border w-fit">
        <a
          href="https://www.google.com/maps/place/Cambridge,+MA"
          target="_blank"
          class="text-muted-foreground text-xs flex items-center"
        >
          <GlobeIcon className="h-4 w-4 mr-1" /><span class="hover:underline"
            >Cambridge, MA, EST</span
          >
        </a>
      </p>

      <header>
        <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
          Luke Rucker
        </h1>
      </header>

      <p class="mt-6 text-lg text-muted-foreground">
        Freelance dev building for the web. Typescript fanboy. Cyclist.
      </p>

      <footer class="mt-8 space-x-2">
        <a
          href="mailto:luke@springsoftware.dev"
          class={buttonVariants({ variant: 'default', size: 'lg' })}
          >Say Hi <EnvelopeClosedIcon className="ml-2 h-5 w-5" /></a
        >

        <a
          href="/about"
          class={buttonVariants({ variant: 'outline', size: 'lg' })}
          >Learn More <ArrowRightIcon className="ml-2 h-5 w-5" /></a
        >
      </footer>
    </section>
  </main>

  <section class="mb-20">
    <header>
      <h2 class="sr-only">Gallery</h2>
      <p class="sr-only">Some pictures I've taken. Shot on my iPhone 13 Pro.</p>
    </header>

    <Gallery items={galleryItems} client:load />
  </section>

  <section class="pb-20 border-b">
    <div class="container mx-auto">
      <header class="max-w-2xl">
        <h2 class="text-4xl font-bold tracking-tight sm:text-5xl">What I do</h2>

        <p class="mt-6 text-lg text-muted-foreground">
          Software Development & Managment
        </p>
      </header>

      <p class="mt-8 prose dark:prose-invert">
        I currently work as a freelancer doing full stack web dev for different
        stages of teams and products. I particuarly enjoy the challenges of
        working with small teams, taking a product from idea to the world.

        <br />
        <br />

        Working on small teams has afforded me the oppurtunity to do a variety
        of roles; I've been the manager of the dev team, the tuner of database
        indexes, the pusher of pixels, and most things in between. I'm not
        saying I'm good at all those things, but I have done them.
      </p>
    </div>
  </section>

  <section class="container mx-auto pt-20 mb-20">
    <header class="mb-8">
      <h3 class="text-4xl font-bold tracking-tight sm:text-5xl">Projects</h3>

      <p class="mt-6 text-lg text-muted-foreground">Some things I've built</p>
    </header>

    <ul class="space-y-10 md:space-y-14">
      {
        projects.map(project => (
          <li>
            <ProjectCard project={project} />
          </li>
        ))
      }
    </ul>

    <footer class="mt-8">
      <a href="/work" class="underline"> View All</a>
    </footer>
  </section>
</Page>
