---
import ProjectCard from '@/components/project-card.astro'
import { Badge } from '@/components/ui/badge'
import Page from '@/layouts/page.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Page
  title="My work | Luke Rucker"
  description="Some examples of projects I've had a hand in."
>
  <main class="container mx-auto">
    <section class="py-12 md:py-24">
      <header class="max-w-2xl mb-12">
        <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">My work</h1>

        <p class="mt-6 text-lg text-muted-foreground">
          Some examples of projects I've been involved in while freelancing, for
          fun, or otherwise. I'm not currently looking for new work, but <a
            class="underline"
            href="mailto:luke@springsoftware.dev">drop me a line</a
          > if you want to work with me in the future.
        </p>
      </header>

      <ul class="space-y-10 md:space-y-18">
        {
          projects.map(project => (
            <li>
              <ProjectCard project={project} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Page>
