---
import ProjectCard from '@/components/project-card.astro'
import { Badge } from '@/components/ui/badge'
import {
  Card,
  CardHeader,
  CardContent,
  CardFooter,
  CardTitle,
} from '@/components/ui/card'
import Page from '@/layouts/page.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')

const allTheTechs = projects.reduce<Array<string>>((techs, project) => {
  project.data.tech.forEach(tech => techs.push(tech))
  return techs
}, [])
const techs = [...new Set(allTheTechs)]
---

<Page>
  <main class="container mx-auto">
    <section class="py-24">
      <header class="max-w-2xl">
        <h1
          class="text-3xl font-semibold leading-tight tracking-tight sm:text-6xl"
        >
          My work
        </h1>

        <p class="mt-6 text-lg leading-8 text-gray-300">
          Some examples of projects I've been involved in while freelancing, for
          fun, or otherwise. I'm not currently looking for new work, but <a
            class="underline"
            href="mailto:me@lukerucker.com">drop me a line</a
          > if you want to work with me in the future.
        </p>
      </header>

      <ul class="mt-6 flex flex-wrap gap-2 mb-12">
        {
          techs.map(tech => (
            <li>
              <Badge>{tech}</Badge>
            </li>
          ))
        }
      </ul>

      <ul class="space-y-6">
        {
          projects.map(project => (
            <li>
              <ProjectCard project={project} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Page>
