---
import {
  EnvelopeClosedIcon,
  GitHubLogoIcon,
  LinkedInLogoIcon,
  TwitterLogoIcon,
} from '@radix-ui/react-icons'

const socials = [
  {
    title: 'E-Mail',
    icon: EnvelopeClosedIcon,
    to: 'mailto:luke@springsoftware.dev',
  },
  {
    title: 'Twitter',
    icon: TwitterLogoIcon,
    to: 'https://twitter.com/lukeruckerr',
  },
  {
    title: 'GitHub',
    icon: GitHubLogoIcon,
    to: 'https://github.com/luke-rucker',
  },
  {
    title: 'Linkedin',
    icon: LinkedInLogoIcon,
    to: 'https://linkedin.com/in/luke-rucker',
  },
]
---

<footer class="border-t py-8 md:pb-16">
  <div
    class="container mx-auto flex flex-col gap-4 md:flex-row md:items-center justify-between"
  >
    <p class="text-sm text-muted-foreground">
      &copy; Luke Rucker. All rights reserved.
    </p>

    <ul class="flex items-center space-x-4">
      {
        socials.map(social => (
          <li>
            <a href={social.to} title={social.title} target="_blank">
              <social.icon className="w-5 h-5 text-muted-foreground hover:text-foreground" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
