---
import { Image } from 'astro:assets'
import meUrl from '@/assets/me.jpg'
import { SITE_TITLE } from '../consts'
import { buttonVariants } from '@/components/ui/button'

const navItems = [
  { title: 'About', to: '/about' },
  { title: 'Bookmarks', to: '/bookmarks' },
  { title: 'Work', to: '/work' },
]
---

<header class="border-b">
  <nav class="container mx-auto flex items-center justify-between py-3">
    <h2>
      <a href="/" class="flex items-center gap-3">
        <Image
          src={meUrl}
          alt={SITE_TITLE}
          class="rounded h-10 w-10 object-center"
        />

        <span>Luke Rucker</span>
      </a>
    </h2>

    <ul class="flex items-center gap-2">
      {
        navItems.map(navItem => (
          <li>
            <a
              href={navItem.to}
              class:list={[
                Astro.url.pathname === navItem.to &&
                  'bg-accent text-accent-foreground',
                buttonVariants({ variant: 'ghost' }),
              ]}
            >
              {navItem.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
