---
import type { ImageMetadata } from 'astro'
import { cn } from '@/lib/utils'
import { getImageWithBlurhash } from '@/lib/images'

type Props = Omit<astroHTML.JSX.ImgHTMLAttributes, 'src'> & {
  src: ImageMetadata | string
  alt: string
  className?: string
  containerClassname?: string
}

const { src, alt, className, containerClassname, ...imageProps } = Astro.props
const { css, img } = await getImageWithBlurhash({ src, alt })
---

<div class={cn('relative block overflow-hidden rounded', containerClassname)}>
  <div
    aria-hidden="true"
    style={css}
    class="absolute inset-0 w-full h-full transform scale-150 filter blur-2xl z-[-1]"
  >
  </div>

  <img
    {...img}
    {...imageProps}
    class={cn('object-cover object-center w-full h-full', className)}
  />
</div>
