---
import type { ImageMetadata } from 'astro'
import { cn } from '@/lib/utils'
import { getImageWithBlurhash } from '@/lib/images'

interface Props {
  src: ImageMetadata | string
  alt: string
  className?: string
  imageClassName?: string
}

const { className, imageClassName, ...unprocessedImage } = Astro.props
const { css, img } = await getImageWithBlurhash(unprocessedImage)
---

<div class={cn('relative block overflow-hidden rounded', className)}>
  <div
    aria-hidden
    style={css}
    class="absolute inset-0 w-full h-full transform scale-150 filter blur-2xl z-[-1]"
  >
  </div>

  <img
    {...img}
    class={cn('object-cover object-center w-full h-full', imageClassName)}
    loading="lazy"
  />
</div>
